commands:
  01_update_composer:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"
  02_install_yarn:
    test: '[ ! -f /usr/bin/yarn ] && echo "Yarn not found, installing..."'
    command: "sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo && curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash - && sudo yum install yarn -y"
  03_yarn_encore:
    command: "yarn encore production"

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
