*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none !important;
  font-weight: bold !important;
  color: #333333;
}
a:hover,
a:link:hover,
a:active:hover,
a:visited:hover {
  color: #669933;
}
a:link,
a:active,
a:visited {
  color: inherit;
}

.header-container {
  border-radius: 10px;
  max-width: 1000px;
  margin: 5px auto 5px;
  background: url(/assets/images/1.6e60cd00.png) #669933 no-repeat bottom;
  height: 117px;
  position: relative;
  overflow: hidden;
  color: white;
  padding: 10px 15px;
}
.header-container .subtitle {
  position: absolute;
  right: 15px;
  bottom: 5px;
  font-size: 24px;
}
@media (max-width: 700px) {
  .header-container .subtitle {
    display: none;
  }
}

#header {
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  background-color: white;
  overflow: hidden;
}
@media (max-width: 700px) {
  #header {
    text-align: center;
  }
}

.img-responsive {
  max-width: 100%;
}

.main-container {
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto 5px;
  padding: 0 5px 5px 5px;
  background-color: #669933;
  background: url(/assets/images/leaves.bd9455ce.png) #669933 -35px -30px
    no-repeat;
}
.main-container > h1 {
  padding: 0 0 0 130px;
  margin: 0;
  line-height: 40px;
  font-size: 36px;
  font-weight: 100;
  color: white;
}

.main-container .inner-container {
  background-color: white;
  border-radius: 6px;
  padding: 60px 200px 50px;
  font-size: 1.1em;
}
@media (max-width: 900px) {
  .main-container .inner-container {
    padding: 15px 30px 5px;
  }
}
