{% extends 'base.html.twig' %}

{% set section_title = 'Qui som?' %}

{% block body %}
    <h1>A.E. Ja Arribarem Club</h1>

    <p>
        Som un grup de persones vinculades d'una manera o altra a la Vall de Lord, que tenim en comú la passió per la natura. I és per això, que volem conservar al màxim possible els entorns que des de sempre han envoltat la nostra vall, i de la mateixa manera donar-ho a conèixer a persones que no han tingut el privilegi de viure en un lloc tan meravellós com és el nostre.
    </p>

    <p>
        El nom del Ja Arribarem Club respon a la idea del que entenem que hauria de ser la nostra caminada. Es a dir, gaudir del paisatge sense presses.
    </p>

    <p>
        No som un grup excursionista que es dediqui en sí a organitzar excursions; només organitzem la Caminada Popular, però hi dediquem el màxim esforç per fer gaudir el nombrosos participants que ens visiten any rere any. Per a poder-la dur a terme necessitem la col·laboració desinteressada de la gent de la vall que fa un esforç cada any per poder ser-hi ajudant en algun dels cinc controls que tenim, ja que nosaltres som molt pocs i el dia de la Caminada no ens podem fer càrrec de tota la feina que comporta el desenvolupament de la mateixa.
    </p>

    <h1>Què és la Caminada Popular?</h1>

    <p>
        És un intent de poder mostrar els entorns de la Vall de Lord; la fauna i la flora que hi conviuen, els monuments i els llocs més pintorescos i amagats. I la que la millor manera de endinsar-te a la natura és caminant de forma pausada, sense motors ni cap mena de soroll que molesti. Gairebé en totes les edicions de la Caminada s’ha intentat mostrar vells oficis o activitats que abans eren habituals a la Vall de Lord. Gràcies a la Caminada, es recuperen molts camins i fonts que el temps havia deixat en desús.
    </p>

    <h1>Quan podeu venir a la Caminada Popular de la Vall de Lord i on heu d'anar?</h1>

    <p>
        En realitat es pot venir a caminar per la Vall de Lord en qualsevol època, ja que en cada estació de l’any es troba alguna raó per gaudir del paisatge, però alguns camins no estan marcats, i per algú que no conegui la Vall, pot ser fàcil perdre’s. Per això us convidem a venir a caminar el Dissabte Sant de cada any.
    </p>

    <p>
        Per donar més varietat als recorreguts, intentem que la Caminada surti des de els tres municipis de la Vall de Lord: Guixers, La Coma i la Pedra i Sant Llorenç de Morunys. Per tant, la sortida de la Caminada varia cada any en funció de d’itinerari escollit. S’aconsella visitar periòdicament aquesta pàgina web per conèixer els detalls de cada edició.
    </p>
{% endblock %}
