{% extends 'base.html.twig' %}

{% set section_title = 'Localització' %}

{% block body %}
    <div class="row">
        <iframe class="col-md-6" src="https://www.google.com/maps/d/embed?mid=1dez6U2x0pWbzPDGbKBidh1saygQ" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <div class="col-md-6">
            <p>
                Entre la depressió central catalana i els Pirineus, trobem una barrera muntanyosa que s’estén de ponent
                a llevant trencant d’una forma brusca la monotonia paisatgística de serres i altiplans de la Catalunya
                central. És el Pre-Pirineu. I és precisament en aquesta serralada on es troba la Vall de Lord i les
                valls i muntanyes que l’envolten.
            </p>

            <p>
                Formada pels municipis de Sant Llorenç de Morunys, La Coma i la Pedra i Guixers, la Vall de Lord és
                situada a l’extrem nord de la comarca del Solsonès, a ponent del Berguedà i al sud de l’Alt Urgell.
            </p>

            <p>
                Es tracta d’una petita vall que té uns trets paisatgístics ben diferenciats degut precisament a la seva
                situació geogràfica. Vinguem d’on vinguem la sensació que ens donarà quan hi arribem és que es tracta
                d’una espècie d’olla natural envoltada de les altes muntanyes que configuren les serres de Port del
                Comte, del Verd, de Busa i les Roques de Lord. De ben segur que ens sorprendrà per la seva singular i
                variada bellesa.
            </p>

            <p>
                Per accedir-hi ho podem fer per diferents carreteres. Venint de Barcelona es pot escollir la ruta de
                Manresa – Solsona per la carretera C-55 i seguir per la nova carretera C-462 de Solsona a Sant Llorenç
                de Morunys, o bé la ruta Manresa – Berga per l’autovia C-16 i seguir per la carretera BV/LV-4241 fins a
                Sant Llorenç de Morunys. Altres vies d’accés són la carretera que comunica Coll de Nargó amb la Vall de
                Lord (L-401) o bé la carretera que comunica Tuixén amb la nostra vall (C-462).
            </p>
        </div>
    </div>
{% endblock %}
